{% extends 'base.html' %}
{% load static %}

{% block body %}
<!--Profile Image and Name-->
<div class="container my-4">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <img src="{% static user_data.profile_pic.url %}" class="img-thumbnail" style="width: 150px;height: 200px;"> 

      </div>
      <div class="col">
        <h2 style="margin-top: 80px;" >{{session_obj.first_name}} {{session_obj.last_name}}</h2>
        <span class="text-muted"><span class="text-muted" id="count">{{user_data.subscribers.count}}</span> Subscribers</span>
        {% if session_obj != request.user %}
        {% if subscribed %}
        <a id="sub_btn" class="btn btn-outline-danger mx-3">Unsubscribe</a>
        {% else %}
        <a id="sub_btn" class="btn btn-outline-danger mx-3">Subscribe</a>
        {% endif %}
        {% endif %}
      </div>

    </div>
  </div>
</div>
<!--End of Profile Image and Name-->

<hr>
<div class="container">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Videos</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">About</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <h3 class="my-3">Category wise videos</h3>
      <hr>

      {% if sci %}
      <div class="row">
        <h4 class="text-primary">Science & Technology</h4>

        {% for v in sci %}
        <div class="col-3">
          <a href="{% url 'watch_video' v.id %}" style="text-decoration: none;"><img src="{% static v.thumbnail.url %}" style="width: 100%;" class="img-thumbnail"></a>
          <a href="{% url 'watch_video' v.id %}" style="text-decoration: none;"><h6>{{v.title}}</h6></a>
          <span class="text-muted">{{v.video_views.all.count}} views • {{v.pub_date}}</span>
        </div>
        {% endfor %}

      </div>
      <hr>
      {% endif %}



      {% if blogs %}
      <div class="row">
        <h4 class="text-primary">Blogs</h4>

        {% for v in blogs %}
        <div class="col-3">
          <a href="{% url 'watch_video' v.id %}" style="text-decoration: none;"><img src="{% static v.thumbnail.url %}" style="width: 100%;" class="img-thumbnail"></a>
          <a href="{% url 'watch_video' v.id %}" style="text-decoration: none;"><h6>{{v.title}}</h6></a>
          <span class="text-muted">{{v.video_views.all.count}} views • {{v.pub_date}}</span>
        </div>
        {% endfor %}

      </div>
      <hr>
      {% endif %}




      {% if food %}
      <div class="row">
        <h4 class="text-primary">Food</h4>

        {% for v in food%}
        <div class="col-3">
          <a href="{% url 'watch_video' v.id %}" style="text-decoration: none;"><img src="{% static v.thumbnail.url %}" class="img-thumbnail w-75"></a>
          <a href="{% url 'watch_video' v.id %}" style="text-decoration: none;"><h6>{{v.title}}</h6></a>
          <span class="text-muted">{{v.video_views.all.count}} views • {{v.pub_date}}</span>
        </div>
        {% endfor %}       

      </div>
      <hr>
      {% endif %}


      {% if edu %}
      <div class="row">
        <h4 class="text-primary">Education</h4>

        {% for v in edu%}
        <div class="col-3">
          <a href="{% url 'watch_video' v.id %}" style="text-decoration: none;"><img src="{% static v.thumbnail.url %}" class="img-thumbnail w-75"></a>
          <a href="{% url 'watch_video' v.id %}" style="text-decoration: none;"><h6>{{v.title}}</h6></a>
          <span class="text-muted">{{v.video_views.all.count}} views • {{v.pub_date}}</span>
        </div>
        {% endfor %}       

      </div>
      <hr>
      {% endif %}


      {% if fashion %}
      <div class="row">
        <h4 class="text-primary">Fashion</h4>

        {% for v in fashion %}
        <div class="col-3">
          <a href="{% url 'watch_video' v.id %}" style="text-decoration: none;"><img src="{% static v.thumbnail.url %}" class="img-thumbnail w-75"></a>
          <a href="{% url 'watch_video' v.id %}" style="text-decoration: none;"><h4>{{v.title}}</h4></a>
          <span class="text-muted">{{v.video_views.all.count}} views • {{v.pub_date}}</span>
        </div>
        {% endfor %}       

      </div>
      <hr>
      {% endif %}



    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div class="container">
        <h3 class="my-3">Uploads</h3>
        <div class="row my-3">
          {% if videos %}
          {% for video in videos %}
          <div class="col-3">
            <a href="{% url 'watch_video' video.id %}" style="text-decoration: none;"><img src="{% static video.thumbnail.url %}" style="width: 100%;" class="img-thumbnail"></a>
            <a href="{% url 'watch_video' video.id %}" style="text-decoration: none;"><h6>{{video.title}}</h6></a>
            <span class="text-muted">{{video.video_views.all.count}} views • {{video.pub_date}}</span>
          </div>
          {% endfor %}
          {% else %}
          <h3>No Videos.</h3>
          {% endif %}
        </div>
        <hr>

      </div>
    </div>


    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
      <div class="container my-4">
        <p><b>Description</b></p>
        <pre style="font-family: tahoma; letter-spacing: 1px;"><p>{{user_data.about}}</p></pre>
        <hr>

        <p><b>Details</b></p>
        <p>Email: </p>
        <a href="mailto:{{session_obj.email}}"><p>{{session_obj.email}}</p></a>
        <hr>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
var btn = $('#sub_btn');
var count = $('#count');  
// btn.text('Subscribe');
btn.on('click', function(event){
  event.preventDefault();

  $.ajax({
    type: 'GET',
    url: '{% url "add_subscriber" session_obj.username %}',
    dataType: 'json',
    success: function(data){
      if(data.is_subscribed)
      {
          // alert(data.is_subscribed);
          btn.text('Subscribe');
          count.text(data.viewer_obj);
          console.log(data.viewer_obj);
        }
        else
        {
         // alert(data.is_subscribed); 
         btn.text('Unsubscribe');
         count.text(data.viewer_obj);
         console.log(data.viewer_obj);
       }
     }

   });
});


</script>
{% endblock %}